html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/*HEADER*/
header {
    background-color: #222222;
    color: white;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 4px solid #444444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/*NAVIGATION*/
.nav-bar {
    font-size: 20px;
    font-weight: bold;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-bar li {
    padding: 15px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

/*WIREFRAME*/
.wireframe { 
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.wireframe img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-radius: 6px; 
}

/*MAIN*/
main {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
}

main h2, main h3 {
    font-weight: bold;
}

/*COLUMN*/
.column {
    background: white;
    padding: 15px;
    flex: 1;
    border-radius: 6px;
    min-width: 250px;
}

.column.main {
    background: rgb(93, 161, 238);
    color: white;
    flex:2;
    padding: 20px;
}

/*DEMO ITEMS*/
.task {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
}

.task:hover {
    box-shadow: 0 0 10px;
    transform: scale(1.02);
    transition: 0.3s ease;
}

/*BUTTON*/
button {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0055cc;
}

/*FOOTER*/
footer {
    text-align: center;
    background-color: #222222;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

footer p{
    font-style: italic;
}